PORT=3001
CORS_ORIGIN=http://localhost:3000
MAILERLITE_API_KEY=
MAILERLITE_GROUP_ID=
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=
POCKETBASE_URL=http://localhost:8090
POCKETBASE_DEV_URL=http://localhost:8090
POCKETBASE_LIVE_URL=
PB_SUPERUSER_EMAIL=
PB_SUPERUSER_PASSWORD=
